.btn--home {
  animation: moveInLeft 0.5s ease-out;
}
.btn--community {
  animation: moveInRight 0.5s ease-out;
}

/* for generate and share button cause they are of type button not as links */
.btn {
  transition: all 0.3s;
}

/* for anchor link type buttons */
.btn:link,
.btn:visited {
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* For Main Content */
.animated {
  animation: moveInRight 0.6s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
